<div id="page">
  <div class="container-wrap">
  <a href="#" class="nav-toggle" (click)="toggleClass($event)" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

  <app-menu></app-menu>

  <div id="main">

    <section class="about mt-5 mb-5" id="about">
      <div class="narrow-content">
        <div class="row">
          <div class="col-md-12">
            <div class="row row-bottom-padded-sm">
              <div class="col-md-12">
                <div class="about-desc">
                  <h1>Hi!</h1>
                </div>
                <p><strong>I'm Luís</strong>, a Software Developer with focus on the web platform and cross-platform mobile app development. I work mostly with PHP Ionic and Angular.</p>
                <p>I'm currently working in E-goi's Web Team making landing pages great again.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="hire">
                  <h2>Have a project? <br>Lets talk and see how I can help!</h2>
                  <a href="mailto:luis.mribeiro@sapo.pt" class="btn-hire btn btn-outline">Lets Go</a>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-5">
              <div class="text-center">
                <br/>
              <p><strong>Still not convinced?</strong></p>
              <p><a href="#" (click)="scroll($event, 'work')"  class="btn btn-primary">See my recent work</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="education" id="education">
      <div class="narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3">
            <span class="heading-meta">Education</span>
            <h2 class="heading">Education</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
               <div class="timeline-centered">
                 <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                       <div class="timeline-icon color-1 text-white">
                          2013
                       </div>
                       <div class="timeline-label">
                         <h2><a href="#">Title</a></h2>
                          <p>Description</p>
                       </div>
                    </div>
                 </article>

                 <article class="timeline-entry begin">
                    <div class="timeline-entry-inner">
                       <div class="timeline-icon color-none">
                       </div>
                    </div>
                 </article>
              </div>
           </div>
         </div>
      </div>
    </section>

    <section class="experience" id="experience">
      <div class="narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3">
            <span class="heading-meta">Experience</span>
            <h2 class="heading">Work Experience</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
               <div class="timeline-centered">
                 <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                       <div class="timeline-icon color-1 text-white">
                          2013
                       </div>
                       <div class="timeline-label">
                         <h2><a href="#">Title</a></h2>
                          <p>Description.</p>
                       </div>
                    </div>
                 </article>

                 <article class="timeline-entry begin">
                    <div class="timeline-entry-inner">
                       <div class="timeline-icon color-none">
                       </div>
                    </div>
                 </article>
              </div>
           </div>
         </div>
      </div>
    </section>

    <section class="work" data-section="work" id="work">
      <div class="narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3">
            <span class="heading-meta">My Work</span>
            <h2 class="heading">Recent Work</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="project" style="background-image: url(../assets/images/curtos-pt.jpg);">
              <div class="desc">
                <div class="con">
                  <h3><a href=".html">Work</a></h3>
                  <span>Website</span>
                  <p class="icon">
                    <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
<!--           <p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>-->
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
