<div id="page">
  <div class="container-wrap">
    <a href="#" [ngClass]="tClass" (click)="toggleClass($event)" ><i></i>&nbsp;</a>

    <app-menu></app-menu>

    <div id="main">

      <section class="section mt-5 mb-5" id="about">
        <div class="narrow-content">
          <div class="row">
            <div class="col-md-12">
              <div class="row row-bottom-padded-sm">
                <div class="col-md-12">
                  <div class="about-desc">
                    <h1>Hi there 👋</h1>
                  </div>
                  <p class="text-justify"><strong>I'm Luís</strong>, a Software Engineer with focus on the web platform and
                    cross-platform mobile app development. I work mostly with PHP, Ionic and
                    Angular making robust high end web apps, and hybrid mobile apps with native-quality. First do it,
                    then do it right, then do it better. This is one fundamental I always keep in mind.</p>
                  <p>I'm currently working as Head of App Development <a href="https://grupopie.com/" target="new">@grupopie</a>.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="hire">
                    <h2>Have a project? <br/>Lets talk and see how I can help!</h2>
                    <a href="mailto:luis.mribeiro@sapo.pt" class="btn-hire btn btn-outline">Lets Go</a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-5">
                <div class="text-center">
                  <br/>
                  <p><strong>Still not convinced?</strong></p>
                  <p><a href="#" (click)="scroll($event, 'work')" class="btn btn-primary">Check out my featured work</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="education">
        <app-timeline resource="education"></app-timeline>
      </section>

      <section class="section" id="experience">
        <app-timeline resource="experience"></app-timeline>
      </section>

      <section class="section" id="work">
        <app-projects></app-projects>
      </section>

    </div>
  </div>
</div>
