<div id="page">
  <div class="container-wrap">
    <a href="#" [ngClass]="tClass" (click)="toggleClass($event)"><i></i></a>

    <app-menu></app-menu>

    <div id="main">

      <section class="section mt-5 mb-5" id="about">
        <div class="narrow-content">
          <div class="row">
            <div class="col-md-12">
              <div class="row row-bottom-padded-sm">
                <div class="col-md-12">
                  <div class="about-desc">
                    <h1>Hi there 👋</h1>
                  </div>
                  <p><strong>I'm Luís</strong>, a Software Developer with focus on the web platform and cross-platform
                    mobile app development. <br/>I work mostly with PHP Ionic and Angular.</p>
                  <p>I'm currently working in E-goi's Web Team making landing pages great again.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="hire">
                    <h2>Have a project? <br/>Lets talk and see how I can help!</h2>
                    <a href="mailto:luis.mribeiro@sapo.pt" class="btn-hire btn btn-outline">Lets Go</a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-5">
                <div class="text-center">
                  <br/>
                  <p><strong>Still not convinced?</strong></p>
                  <p><a href="#" (click)="scroll($event, 'work')" class="btn btn-primary">Check out my recent work</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="education">
        <app-timeline title="education" [items]="educations"></app-timeline>
      </section>

      <section class="section" id="experience">
        <app-timeline title="experience" [items]="experiences"></app-timeline>
      </section>

      <section class="section" id="work">
        <div class="narrow-content">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3">
              <h2 class="heading">Recent Work</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="project">
                <div class="row mb-0">
                  <div class="col-12">
                    <h4 class="mb-2">Curtos.pt</h4>
                    <p class="mb-2">A modern free open source php url shortener. Your links... short!</p>
                  </div>
                </div>
                <div class="content">
                  <a href="http://curtos.pt" target="_blank" rel="noreferrer">
                    <div class="content-overlay"></div>
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/lribeiro-js-org.appspot.com/o/curtos-pt.jpg?alt=media&token=2ae0be09-a464-427b-b766-c772cb70fd65"
                      alt="">
                    <div class="content-details fadeIn">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                           viewBox="0 0 768 768">
                        <path fill="#fff"
                              d="M544 416v192c0 8.832-3.552 16.8-9.376 22.624s-13.792 9.376-22.624 9.376h-352c-8.832 0-16.8-3.552-22.624-9.376s-9.376-13.792-9.376-22.624v-352c0-8.832 3.552-16.8 9.376-22.624s13.792-9.376 22.624-9.376h192c17.664 0 32-14.336 32-32s-14.336-32-32-32h-192c-26.496 0-50.56 10.784-67.872 28.128s-28.128 41.376-28.128 67.872v352c0 26.496 10.784 50.56 28.128 67.872s41.376 28.128 67.872 28.128h352c26.496 0 50.56-10.784 67.872-28.128s28.128-41.376 28.128-67.872v-192c0-17.664-14.336-32-32-32s-32 14.336-32 32zM342.624 470.624l297.376-297.376v114.752c0 17.664 14.336 32 32 32s32-14.336 32-32v-192c0-4.352-0.864-8.48-2.432-12.256s-3.872-7.296-6.912-10.336c-0.032-0.032-0.032-0.032-0.064-0.064-2.944-2.944-6.464-5.312-10.336-6.912-3.776-1.568-7.904-2.432-12.256-2.432h-192c-17.664 0-32 14.336-32 32s14.336 32 32 32h114.752l-297.376 297.376c-12.512 12.512-12.512 32.768 0 45.248s32.768 12.512 45.248 0z"></path>
                      </svg>
                      <p class="content-text">This is a short description</p>
                    </div>
                  </a>
                </div>
                <span>#php #yii #jquery #mysql</span>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!--           <p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>-->
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
